*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
}
 /* creazione header */

.contenitore-arancione {
    background-color: rgba(255,105,0,255);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: 5px 5px 5px grey;
}

.row-1{
    width: 70%;
    display: flex;
    justify-content: center;
}

.logo {
    margin: 15px auto;
}

.scelta, .fa-user, .fa-heart, .fa-bag-shopping {
    padding: 5px;
}

.contenitore-scelta {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    font-size: 15px;
    color: white;
}

.contenitore-logo {
    width: 70%;
    display: flex;
    justify-content: center;
}

.contenitore-icone {
    width: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

/* creazione corpo della pagina */

.contenitore-riga1 {
    justify-content: center;
    margin: 90px auto;
    width: 70%;
}

.riga-1, .riga-2 {
    width: 100%;
    display: flex;
}

.contenitore-immagine img {
    width: 100%;
}

.contenitore-immagine {
    position: relative;
}

.col {
    width: calc(100%/3);
    margin: 30px 10px;
}


.cuore {
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
}

.cuore:hover{
    color: red;
}
.label {
    position: absolute;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding: 3px;
}
.label-rossa {
    background-color: red;
    bottom: 40px;
}

.label-verde {
    background-color: green;
    bottom: 40px;
    left: 50px;
}

.label-verde-speciale {
    background-color: green;
    bottom: 40px;
}

.descizione {
    padding: 15px 0;
    position: absolute;
    bottom: 50px;
}

.marca {
    font-size: 13px;
}

.abbigliamento {
    font-weight: 600;
}

.prezzo-scontato {
    color: red;
    font-size: 13px;
}

.prezzo-originale {
    text-decoration: line-through;
    font-size: 13px;
    color: black;
}

.overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

/* creazione footer */

.contenitore-footer {
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    color: white;
}

.riga-footer {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

h5 {
    font-size: 15px;
    font-weight: 600px;
    margin: 10px 0;
}

p {
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}

.fa-brands {
    text-align: right;
    padding: 5px;
}
